@import url("https://fonts.googleapis.com/css2?family=Caprasimo&family=Nunito+Sans:opsz,wght@6..12,400;6..12,500&display=swap");

body {
  background-color: #e4e4e4;
  font-family: "Nunito Sans";
  user-select: none;
  -webkit-user-select: none;
}

h1 {
  font-family: "Caprasimo";
  text-align: center;
  font-size: 2.5rem;
  margin-block: 1em;
}

@supports (-webkit-text-stroke: 1px black) {
  h1 {
    -webkit-text-stroke: 2px black;
    -webkit-text-fill-color: white;
  }
}

button {
  cursor: pointer;
  font-size: 1rem;
  background-color: white;
  border: 2px black solid;
  border-radius: 10px;
  padding-block: 0.5em;
  transition: ease-in-out 200ms;
}

button:hover {
  transform: scale(1.01);
}

.main {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-block: auto;
  height: 100%;
}

.controls {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.controls span {
  display: flex;
  align-items: center;
  gap: 1.5em;
}

.sliderContainer {
  display: flex;
  gap: .5em;
  align-items: center;
}

input[type='range']{
  -webkit-appearance: none;
  width: 50%;
  height: .5em;
}
input[type=range]::-webkit-slider-runnable-track {
  padding: 2px;
  cursor: pointer;
  background: linear-gradient(90deg, rgba(4,222,255,1) 0%, rgba(7,255,0,1) 57%, rgba(255,194,0,1) 92%);
  border-radius: 100px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 10px;
  background-color: #212121;
}

#container {
  display: grid;
  width: fit-content;
  aspect-ratio: 1/1;
  gap: 0;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11), 0 32px 32px rgba(0, 0, 0, 0.11);
  cursor: pointer;
}

.containerItem {
  aspect-ratio: 1/1;
  transition: ease-in-out 0.25s;
  outline: 0.5px solid transparent;
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  border: none;
  width: 3em;
  height: 3em;
  border-radius: 500px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.11), 0 2px 2px rgba(0, 0, 0, 0.11),
    0 4px 4px rgba(0, 0, 0, 0.11), 0 8px 8px rgba(0, 0, 0, 0.11),
    0 16px 16px rgba(0, 0, 0, 0.11);
  cursor: pointer;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
  border-radius: 500px;
}

.fgSpan{
  padding-inline: 1em;
}

span{
  display: flex;
  justify-content: space-between;
}

.randomColorActive {
  background: linear-gradient(red, transparent),
    linear-gradient(to top left, lime, transparent),
    linear-gradient(to top right, blue, transparent);
  background-size: 100% 150%;
  background-blend-mode: screen;
}

.eraserActive {
  background-color: #212121;
  color: #e4e4e4;
}

.dangerZone {
  border: #ff9a9a 3px solid;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: inherit;
  padding: 1em;
}

.dangerZone::before {
  margin-top: -1.75em;
  content: "Canvas will be Cleared";
  position: absolute;
  background-color: #e4e4e4;
  outline: 2px #e4e4e4 solid;
  color: #ff2929;
}

.clear:hover{
  background-color: #ff9a9a;
}

button:active{
  transform: scale(.975);
}